body
{
    background-image: url(http://cdn.wallpapersafari.com/59/77/JuMkrp.jpg);
    position: absolute;
    
    background-size: cover;
    width: 97%;
}
#header
{
    color: black;
    background-color:white;
    height:100px;
    width:105%;
    margin-top: -35px;
    margin-left: -7px;
    opacity: 0.75;
    position: fixed;
}
ul{
    list-style-type: none;
    color: black;
}
.nav
{
    margin-top: -50px;
    margin-left: 25px;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
 #head
 {
    text-decoration: black;
    text-decoration: overline;
    text-align: center;
     font-size: xx-large;
     font-family: 'Six Caps', sans-serif;
font-family: 'Lobster', cursive;
 }
 .anchor{
     color: black;
 }  
 .anchor:hover{
     color: black;
     text-decoration: underline;
 }
 #list
 {
     height:100%;
     width:20%;
     opacity:0.65;
     position:fixed;
     /*background-color: whitesmoke;*/
     margin-top: 65px;
     margin-left: -25px;
     text-align: center;
     font-family: 'Six Caps', sans-serif;
     font-family: 'Lobster', cursive;
     font-size: large;
     text-decoration: black;
 }
#content
{
 height:100%;
 width:83%;
  opacity: 0.95;
 margin-top: 65px;
 margin-left: 225px;
 background-color: whitesmoke; 
 position: absolute;
 
 
}
#comment_form
{
font-family: 'Six Caps', sans-serif;
font-family: 'Lobster', cursive;
font-size: large;
margin-left: 40px;

}
#submit
{
    background-color: none;
    border-radius: 5px;
    font-family: 'Six Caps', sans-serif;
font-family: 'Lobster', cursive;
    font-size: large;
    text-decoration: overline;
    
}
#submit:hover{
    text-decoration: underline;
    background-color: black;
    color:antiquewhite;
}

#openpage
{
    margin-top:70px;
    font-size: larger;
    text-decoration: black;
    font-family: 'Six Caps', sans-serif;
font-family: 'Lobster', cursive;
padding-right: 10px;
width:97%;

}
#open
{
opacity: 1;
width:997.4px;
height:300px;
}