#navbar
{
margin-top: -16px;
height:50px;
width:100%;
text-align: center;
position:fixed;
}
#menu
{
    padding-top: 10px;
     font-family: 'Six Caps', sans-serif;
font-family: 'Lobster', cursive;
font-size:larger;
    text-align: center;
}
.nav
{
    display: inline;
    margin-left: 25px;
    font-size: larger;
    text-decoration: overline;
        

}
.container
{
background-image: url("/ui/body.jpg");
width:100%;
height:700px;
background-size: cover;
background-repeat: no-repeat;
}
body{
    width:100%;
    margin-left:-4px;
    margin-right:-4px;
    margin-top:-4px;
}
.nav:hover{
    text-decoration: underline;
}
.anchor{
    color: black;
}
#loginpage
{
    background-image: url("/ui/31_white_abstract.jpg");
    width:auto;
height:475px;
background-size: cover;
text-align: center;
padding-top: 120px;

}

#loginbtn
{
    background-color: none;
    border-radius: 5px;
     font-family: 'Six Caps', sans-serif;
font-family: 'Lobster', cursive;
    font-size: larger;
    text-decoration: overline;
}
#loginbtn:hover{
    text-decoration: underline;
    background-color: black;
    color:antiquewhite;
}
#contact{
     font-family: 'Six Caps', sans-serif;
font-family: 'Lobster', cursive;
    font-size: larger;
    text-decoration: underline;
    text-align: center;
}
#registerbtn
{
    background-color: none;
    border-radius: 5px;
     font-family: 'Six Caps', sans-serif;
font-family: 'Lobster', cursive;
    font-size: larger;
    text-decoration: overline;
}
#registerbtn:hover{
    text-decoration: underline;
    background-color: black;
    color:antiquewhite;
}
#aboutme-r{
 height:100%;
 width:83%;
margin-top: 65px;
 margin-left: 225px;
position: absolute;
  
font-family: 'Six Caps', sans-serif;
font-family: 'Lobster', cursive;

}
#aboutme-l{
   height:100%;
     width:20%;
position:fixed;
     /*background-color: whitesmoke;*/
     margin-top: 65px;
     margin-left: -25px;
 text-align: center;
     font-family: 'Six Caps', sans-serif;
     font-family: 'Lobster', cursive;
     }
     